@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --select-box-color : #C4C4C4;
    --select-focus-color : #9B51E0;
    --select-outline-color : #F8E4FF;
    --background-color : #FFFFFF;
}

data {
    margin: 0;
}



body {
    font-family: 'Roboto', sans-serif;
}

.select-wrap {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background: var(--background-color);

    display: block;
}

.hidden {
    display: none;
}

.show{
    display: block;
}

.select-wrap .toggle-btn {
    outline: none;
    border: 0;
    
    width: 200px;
    padding: 12px 12px 12px 13px;
    border-radius: 10px;
    border: 1px solid var(--select-box-color);
    outline: none;
    background: url(images/icon-Triangle-up.png) no-repeat;
    background-position: 168px 8px;    
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;


}


.select-wrap .toggle-btn:focus {
    border: 1px solid var(--select-focus-color);
    outline: 3px solid var(--select-outline-color);
    
}

.hide {
    visibility:hidden ;
}
.select-wrap .selectbox-option {
    width: 200px;
    margin: 9px 0 0 0;
    padding: 3px 0;
    background: var(--background-color);
    border-radius: 10px;
    border: 1px solid var(--select-box-color);
    box-sizing: border-box;
}

.select-wrap .selectbox-option li {
    padding: 5px 8px;
}



.select-wrap .selectbox-option li  data {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    cursor: pointer;
    padding: 7px 144px 7px 10px;
}

.select-wrap .selectbox-option data:hover {
    background-color: var(--select-outline-color);
    border-radius: 8px;
}

